<!DOCTYPE html>
<html lang="es">
	<head>
	  <meta content="text/html;" http-equiv="content-type" charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
	  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
	  <title>Dashboard</title>
	</head>
	
	<body>
	  <nav class="indigo">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">BookStore</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/user/search">Buscar</a></li>
	        <li><a href="#">Busqueda Especializada</a></li>
	        <li><a  id="logout" href="#">Salir</a></li>
	      </ul>
	    </div>
	  </nav>
	  <div class="section"></div>
	
	  <div class="container">
	    <div class="row">
		    <div class="col s12">
		    	<div class="center"><h2 id ="welcome"></h2></div>
		    </div>
		      <div class="col s3">
		        <img  width="100%" src="/img/perfil.png">
		        <label class="center"><span class="name"></span> <span class="lastname"></span></label> 
		      </div>
	      <div class="col s9"> 
	        <ul class="tabs row">
	          <li class="tab col s3"><a class="indigo-text" href="#test1">Tu info</a></li>
	          <li class="tab col s3"><a class="indigo-text" href="#test2">Carrito</a></li>
	        </ul>
	        <div id="test1" class="col s12 ">
		        	<span>
		              <h6>Usuario: <span class="indigo-text" id="username"></span></h6>
		            </span>
		          <span>
		              <h6>Nombre: <span class="indigo-text name"></span></h6>
		            </span>
		          <span>
		              <h6>Apellido: <span class="indigo-text lastname"></span></h6>
		            </span>
		          <span>
		              <h6>Correo: <span class="indigo-text" id="email"></span></h6>
		            </span>
		          <span>
		              <h6>Dirección: <span class="indigo-text" id="address"></span></h6>
		            </span>
		          <span>
		              <h6>Ciudad: <span class="indigo-text" id="city"></span></h6>
		            </span>
		          <span>
		              <h6>código Postal: <span class="indigo-text" id="areacode"></span></h6>
		            </span>
		          <span>
		              <h6>Telefono: <span class="indigo-text" id="phone"></span></h6>
		            </span>
		          <span>
		              <h6>Preferencia de envío: <span class="indigo-text" id="shippingpreference"></span></h6>
		            </span>
		         	<span>
		              <h6>Especialidad: <span class="indigo-text" id="speciality">Ninguna</span></h6>
		            </span>
		         	<span>
		              <h6>Tarjeta: <span class="indigo-text" id="creditCard"></span></h6>
		            </span>
		         </div>
	            </div>
	        <div id="test2" class="col s9">
	        	<div class="row">
        	      <table>
			        <thead>
			          <tr>
			              <th>Nombre</th>
			              <th>Cantidad</th>
			              <th>Precio</th>
			          </tr>
			        </thead>
			
			        <tbody>
				          <tr>
				            <td>XD</td>
				            <td>5</td>
				            <td>$2000<i id="delete" class="center red-text right small material-icons modal-trigger btn-del">delete</i></td>
				          </tr>
			         </tbody>
			       </table>
			       <div class="right"><b>total: $<span id = "total">1000</span></b></div>
				 </div>           
	            <div class="right">
	              <button class="btn waves-effect waves-light indigo"  type="button" name="action">Confirmar
	              </button>
	            </div>
	          </div>
	        </div>
	        </div>
	  <script type="text/javascript" src="/js/jquery.min.js"></script>
	  <script type="text/javascript" src="/js/materialize.min.js"></script>
	  <script type="text/javascript" src="/js/dashboard.js"></script>
	  <script type="text/javascript" src="/js/logout.js"></script>
	
	</body>
</html>