<!DOCTYPE html>
<html lang="es">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">
   <meta content="text/html;" http-equiv="content-type" charset="utf-8">
</head>

<body>
  <main>
    <center>
      <h1 class="indigo-text">BookStore Unimag</h1>
      <h5 class="indigo-text">Por Favor, Ingresa tu cuenta</h5>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              	<div class='input-field col s12'>
                	<input class='validate' type='text' name='username' id='username' />
                	<label for='username'>Ingresa nombre de usuario</label>
            	</div>
            </div>

            <div class='row'>
              	<div class='input-field col s12'>
                	<input class='validate' type='password' name='password' id='password' />
                	<label for='password'>Ingresa contraseña</label>
              	</div>
              	<label style='float: right;'>
					<a class='pink-text' href='#!'><b>¿Olvidaste la contraseña?</b></a>
				</label>
            </div>
            <br />
              <div class='row'>
                <button id="login" type='submit' name='btn_login' class='center col s12 btn btn-large waves-effect indigo'>Iniciar Sesión</button>
              </div>
          </form>
        </div>
      </div>
      <a href="/signup">Crea una Cuenta</a>
    </center>
  </main>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
</body>

</html>